/*общие стили */
body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
/* стили хэдара */
 header {
     background-color: aquamarine;
 }
/* стиль навигации */
.main-menu {
    background-color: darkorchid;
}
/* стиль контентной части */
.main-section {
    background-color: darkorange;
}
.main-sectio-item {
    background-color: darkolivegreen;
}
/* стиль для сайт бара */
.sidebar-right {
background-color: blueviolet;
}
footer {
    background-color: purple;
}